# System/local config files:
.env
docker-compose.yml
.venv/

# Django and Rest API stuff:
staticfiles/
media/
node_modules/
error_logs/

# Python stuff:
__pycache__/
*.pyc
*.pyo
*.pyd

# DB stuff (namely local Postgres)
pgdata/
pgdata_dalete*/
db.sqlite3

# Apple, IDE, and editor stuff:
.idea/
.DS_Store
.*.sw?
.devcontainer/

# Misc:
temp/
